<?xml version="1.0"?>

<config>
    <modules>
        <Sitemaster_Ultimo>
            <version>0.0.1</version>
        </Sitemaster_Ultimo>
    </modules>
    <global>
        <blocks>
            <sitemaster_ultimo>
                <class>Sitemaster_Ultimo_Block</class>
            </sitemaster_ultimo>
        </blocks>
        <helpers>
            <sitemaster_ultimo>
                <class>Sitemaster_Ultimo_Helper</class>
            </sitemaster_ultimo>
        </helpers>
        <models>
            <sitemaster_ultimo>
                <class>Sitemaster_Ultimo_Model</class>
            </sitemaster_ultimo>
        </models>
    </global>
	<default>
		<!-- Theme settings -->
		<ultimo>
			<magento_blocks>
				<footer-copyright>1</footer-copyright>
                <website_switcher>1</website_switcher>
                <top_search>1</top_search>
                <display_toolbar>0</display_toolbar>
			</magento_blocks>
            <product_page>
                <addtolinks>1</addtolinks>
                <productinfo>1</productinfo>
            </product_page>
		</ultimo>
	</default>
</config>