<?xml version="1.0"?>
<config>
	<sections>
		<ultimo translate="label" module="ultimo">
			<groups>
				<magento_blocks translate="label">
					<fields>
						<footer-copyright translate="label">
							<label>Footer Copyright</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>220</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</footer-copyright>
                        <website_switcher translate="label">
                            <label>Website Switcher</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </website_switcher>
                        <top_search translate="label">
                            <label>Top Search</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </top_search>
                        <display_toolbar translate="label">
                            <label>Display Toolbar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_toolbar>
					</fields>
				</magento_blocks>
                <product_page translate="label">
                    <fields>
                        <addtolinks translate="label">
                            <label>Show addto Links</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>420</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </addtolinks>
                    </fields>
                </product_page>
			</groups>
		</ultimo>
	</sections>
</config> 