<?xml version="1.0"?>
<config>
    <modules>
        <Sitemaster_AjaxLogin>
            <version>0.1.0</version>
        </Sitemaster_AjaxLogin>
    </modules>
    <frontend>
        <routers>
            <sitemaster_ajaxlogin>
                <use>standard</use>
                <args>
                    <module>Sitemaster_AjaxLogin</module>
                    <frontName>ajax</frontName>
                </args>
            </sitemaster_ajaxlogin>
        </routers>
        <layout>
            <updates>
                <sitemaster_ajaxlogin>
                    <file>ajax_login.xml</file>
                </sitemaster_ajaxlogin>
            </updates>
        </layout>
    </frontend>
</config>
